# Accessing Data from the U.S. Bureau of Labor Statistics

In [1]:
import requests
import json
import prettytable
import pandas as pd

In [2]:
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CUUR0000SA0','SUUR0000SA0'],"startyear":"2011", "endyear":"2014"})
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)
for series in json_data['Results']['series']:
    x=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
    seriesId = series['seriesID']
    for item in series['data']:
        year = item['year']
        period = item['period']
        value = item['value']
        footnotes=""
        for footnote in item['footnotes']:
            if footnote:
                footnotes = footnotes + footnote['text'] + ','
        if 'M01' <= period <= 'M12':
            x.add_row([seriesId,year,period,value,footnotes[0:-1]])
    output = open(seriesId + '.txt','w')
    output.write (x.get_string())
    output.close()

In [5]:
test = pd.read_csv('CUUR0000SA0.txt')

In [6]:
test.head()

  +-------------+------+--------+---------+-----------+
0  |  series id  | year | period |  value  | foot...
1  +-------------+------+--------+---------+-----...
2  | CUUR0000SA0 | 2014 |  M12   | 234.812 |     ...
3  | CUUR0000SA0 | 2014 |  M11   | 236.151 |     ...
4  | CUUR0000SA0 | 2014 |  M10   | 237.433 |     ...