# LA Traffic Counts

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
la_traffic = pd.read_csv('LADOT_Traffic_Counts_Summary.csv')
la_traffic.head()

,Primary Street,Dir,Cross Street,Type,Dist,Count Date,Day,W/B,E/B,N/B,S/B,Total
0,1 st ST,AT,MC CADDEN PL,AUT,TUE,February 05 2013,TUE,364.0,763.0,0.0,0.0,1127.0
1,1 st ST,AT,ALAMEDA ST,AUTO,CR,January 16 2014,THU,6433.0,11669.0,0.0,0.0,18102.0
2,1 st ST,AT,MAIN ST,MIO,CR,March 27 2013,WED,9221.0,9811.0,0.0,0.0,19032.0
3,1 st ST,AT,SPRING ST,MIO,CR,March 19 2013,TUE,9365.0,9884.0,0.0,0.0,19249.0
4,1 st ST,AT,MAIN ST,MAN,CR,November 08 2011,TUE,11400.0,12497.0,NaN,NaN,23897.0

In [6]:
la_traffic['Count Date']

0       February 05 2013
1        January 16 2014
2          March 27 2013
3          March 19 2013
4       November 08 2011
              ...
5948    November 06 2014
5949       April 09 2015
5950    November 12 2015
5951     October 07 2015
5952        June 16 2015
Name: Count Date, Length: 5953, dtype: object

In [5]:
la_traffic['Count Date'] = pd.to_datetime(la_traffic['Count Date'])

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 411-01-10 00:00:00